@import "tailwindcss/theme" theme(reference);
@import "tailwindcss/utilities";

.animate-spin {
    @media (hover: hover) {
      animation: var(--animate-spin, spin 4.5s linear infinite) /* spin 4.5s linear infinite */;
    }
}